@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EBF2EF;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: #EBF2EF;
  position: sticky;
  top: 0;
  display: flex;
}

.app-name-logo-icon {
  height: 80px;
  margin: 10px;
  width: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-name {
  margin: 10px;
  width: auto;
}

.login-white-container {
  background-color: white;
  width: 400px;
  height: 400px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  background-color: #EBF2EF;
}

.login-button {
  background-color: #bddbce;
  opacity: 20;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-form-title {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3px;
  font-size: 30px;
}

input[type="checkbox"] {
  align-self: end;
  margin-right: 6px;
}

/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;          
} */

footer {
  display: flex;
  width: 100%;
  padding: 30px;
  opacity: 0.3;
  justify-content: space-between;
}

footer>div {
  display: flex;
  justify-content: center;
}

.contact-footer {
  width: 30%;
}

.copyright-footer {
  width: 30%;
}

/* sidebar css */

.sidebar-wrapper {
  background-color: EBF2EF;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;

}

.dashboard-title {
  flex-grow: 1;
  background-color: white;
}

.sidebar {
  width: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  flex-grow: 1;
}

.account-icon {
  height: 50px;
  margin: 10px;
  width: auto;
}

.portal-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.portal-title {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.portal-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.questionnaire-icon,
.myaccount-icon,
.book-appointment-icon,
.myquestionnaires-icon {
  width: 30px;
  height: 30px;
  margin: 17px;
  margin-left: 10px;
}


.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-dashboard {
  font-size: 40px;
  margin-top: 7px;
  margin-left: 20px;
  opacity: 0.3;
}

.log-out-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.log-out-text {
  margin-left: 10px;
}

.log-out-icon {
  width: 25px;
  height: 25px;
}

.footer-sidebar {
  top: 30px;
  opacity: 0.3;
  display: flex;
}

.footer-sidebar>* {
  padding: 10px
}

.placeholder-container {
  background-color: #D9D9D9;
  width: 400px;
  height: 550px;
  border: 1px solid #ebebeb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}